<section class="navigation">
  <button mat-icon-button (click)="return()">
    <mat-icon>keyboard_arrow_left </mat-icon>
    Volver
  </button>
</section>
<section class="view" *ngIf="!!iViajes">
  <section class="charts">
    <mat-card>
      <mat-card-content>
        <evince-viajes-chart-compare [viajesAAnalizar]="iViajes">
        </evince-viajes-chart-compare>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="list">
    <evince-viajes-list
      [iViajes]="iViajes"
      [iOrigen]="iOrigen"
      [iDestino]="iDestino"
      (onAnalysisRequested)="analyze($event)"
    >
    </evince-viajes-list>
  </section>
</section>
