<evince-header></evince-header>
<nav mat-tab-nav-bar headerPosition="below">
  <a
    mat-tab-link
    [routerLink]="iTabs.principal.path"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ iTabs.principal.label }}
  </a>

  <a
    mat-tab-link
    [routerLink]="iTabs.recorridos.path"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ iTabs.recorridos.label }}
  </a>

  <a
    mat-tab-link
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    *ngIf="rla.isActive"
  >
    {{ iTabs.en_curso.label }}
  </a>

  <a
    mat-tab-link
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    *ngIf="rla.isActive"
  >
    {{ iTabs.resumen.label }}
  </a>
</nav>
<router-outlet></router-outlet>
