<div class="main">
<div fxLayout fxLayoutAlign="center center">
  <div fxFlex="50" fxLayout.xs="column wrap" fxLayoutGap="1rem" fxLayoutAlign="space-between center" >
    <form [formGroup]="form">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]='origen' name="origen" formControlName="origenControl"
      (selectionChange)="changeOrigen(origen)">
        <mat-option  *ngFor="let origen of origenes" [(value)]="origen">
          {{origen}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]='destino' name="destino" formControlName="destinoControl"
      (selectionChange)="changeDestino(destino)">
        <mat-option *ngFor="let destino of destinos" [(value)]="destino">
          {{destino}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-slide-toggle color="primary" (change)="showSubscribedChange()">My subscriptions</mat-slide-toggle>
    <!-- <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (change)="onChange(isChecked)">My subscriptions</mat-slide-toggle> -->
  </div>
</div>
</div>