<div class="main">
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="50">
    <mat-icon matPrefix>search</mat-icon>
    <input #searchInput type="text" [(ngModel)]='search' matInput placeholder="Search" fxFill (keyup)="searchFilter(searchInput.value)"/>
  </mat-form-field>
</div>
<div fxLayout fxLayoutAlign="center center">
  <div fxFlex="50" fxLayout.xs="column wrap" fxLayoutGap="1rem" fxLayoutAlign="space-between center" >
    <form [formGroup]="form">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]='origen' name="origen" formControlName="origenControl"
      (selectionChange)="changeOrigen(origen)">
        <mat-option  *ngFor="let origen of filterService.origenes" [(value)]="origen">
          {{origen.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]='destino' name="destino" formControlName="destinoControl"
      (selectionChange)="changeDestino(destino)">
        <mat-option *ngFor="let destino of filterService.destinos" [(value)]="destino">
          {{destino.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
    <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (change)="onChange(isChecked)">My subscriptions</mat-slide-toggle>
  </div>
</div>
</div>