<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    dMobileSidenav
    [mode]="'side'"
    role="navigation"
    [opened]="true"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="iCurrentView='overview'">
        <mat-icon matListIcon>home</mat-icon>
        <a matLine>Overview</a>
      </mat-list-item>

      <mat-list-item (click)="iCurrentView='security'">
        <mat-icon matListIcon>security</mat-icon>
        <a matLine>Security</a>
      </mat-list-item>

      <mat-list-item (click)="iCurrentView='settings'">
        <mat-icon matListIcon>settings_applications</mat-icon>
        <a matLine>Settings</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button type="button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span fxHide.lt-xs>Evince</span>
      <span class="spacer"></span>
      <ul class="controls">
        <li class="control">
          <mat-icon class="icon">notification_important</mat-icon>
        </li>
        <li class="control">
          <button mat-button [matMenuTriggerFor]="logoutMenu">
            <mat-icon class="icon">account_circle</mat-icon>
            <small>user</small>
          </button>
          <mat-menu #logoutMenu="matMenu">
            <button mat-menu-item>logout</button>
          </mat-menu>
        </li>
      </ul>
    </mat-toolbar>
    <div [ngSwitch]="iCurrentView">
      <div *ngSwitchDefault><evince-overview></evince-overview></div>
      <div *ngSwitchCase="'overview'"><evince-overview></evince-overview></div>
      <div *ngSwitchCase="'security'"><evince-security></evince-security></div>
      <div *ngSwitchCase="'settings'"><evince-settings></evince-settings></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
