:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

mat-card {
  height: 50vh;
}

mat-card-title,
mat-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  margin: 2rem 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
