<h2>Ingresá con los datos de tu cuenta</h2>
<form [formGroup]="form" (ngSubmit)="submit()" class="login">
  <mat-form-field>
    <input
      type="text"
      matInput
      autocomplete="username"
      placeholder="Username"
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      type="password"
      matInput
      autocomplete="new-password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>
  <mat-checkbox>
    Remember me
  </mat-checkbox>
  <section class="action-wrapper">
    <button type="submit" mat-button color="primary">Login</button>
  </section>
</form>
