<section class="container">
  <h1 class="title mat-h1">Ingresá con los datos de tu cuenta</h1>
  <mat-icon [fxShow.xs]="true" [fxShow.gt-xs]="false" class="icon" svgIcon="login"></mat-icon>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <section>
      <mat-form-field>
        <mat-label for="username">Tu nombre de usuario</mat-label>
        <input
          type="text"
          matInput
          placeholder="ej: Pedro Miguel"
          formControlName="username"
        />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field>
        <mat-label for="username">Tu contraseña</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
    </section>
    <section>
      <mat-checkbox>
        Recordarme
      </mat-checkbox>
    </section>
    <section>
      <button type="submit" mat-raised-button color="primary">Continuar</button>
    </section>
  </form>
</section>
<mat-icon [fxShow.xs]="false" class="icon" svgIcon="login"></mat-icon>
