<div class="main">
    <div fxLayout fxLayoutAlign="center center">
        <table mat-table [dataSource]="recorridoAAnalizar[0].viajes" fxFlex="50">
            <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="cantPasajeros" >
            <th mat-header-cell *matHeaderCellDef>Cant pasaj.</th>
            <td mat-cell *matCellDef="let element">{{ element.cantPasajeros }}</td>
            </ng-container>

            <ng-container matColumnDef="fechaHoraSalidaEstipuladas" >
            <th mat-header-cell *matHeaderCellDef>Fecha salida estip.</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaHoraSalidaEstipuladas }}</td>
            </ng-container>

            <ng-container matColumnDef="fechaHoraLlegadaEstipuladas">
                <th mat-header-cell *matHeaderCellDef>Fecha llegada estip.</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaHoraLlegadaEstipuladas }}</td>
            </ng-container>
    
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
            </ng-container>

            <ng-container matColumnDef="terminalOrigen">
                <th mat-header-cell *matHeaderCellDef>Terminal origen</th>
                <td mat-cell *matCellDef="let element">{{ element.trayecto.terminalOrigen }}</td>
            </ng-container>

            <ng-container matColumnDef="terminalDestino">
                <th mat-header-cell *matHeaderCellDef>Terminal destino</th>
                <td mat-cell *matCellDef="let element">{{ element.trayecto.terminalDestino }}</td>
            </ng-container>

            <ng-container matColumnDef="analyze">
                <th mat-header-cell *matHeaderCellDef>Analyze</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button color="primary" (click)="getViajeAAnalizar(element)">
                    Analyze
                  </button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="iDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: iDisplayedColumns"></tr>
    </table>
  </div>
  </div>