:host {
  .container {
    display: grid;
    grid-template-areas:
      "filter"
      "list";
      margin: 1rem;
  }
}

.right {
  width: 50%;
  float: right;
}

.left {
  width: 50%;
  float: left;
}