<div class="left">
    <div [ngSwitch]="iCurrentChartView">
        <div *ngSwitchDefault>
            <evince-general-chart-top-causes [iRecorridos]="iRecorridos"></evince-general-chart-top-causes>
            <evince-general-chart-top-delays [iRecorridos]="iRecorridos"></evince-general-chart-top-delays>
        </div>
        <div *ngSwitchCase="'general-chart'">
            <evince-general-chart-top-causes [iRecorridos]="iRecorridos"></evince-general-chart-top-causes>
            <evince-general-chart-top-delays [iRecorridos]="iRecorridos"></evince-general-chart-top-delays>
        </div>
        <div *ngSwitchCase="'recorrido-chart'">

        </div>
        <div *ngSwitchCase="'viaje-chart'">
            
        </div>
    </div>
</div>

<div class="right">
    <div [ngSwitch]="iCurrentListView">
        <div *ngSwitchDefault>
            <evince-general-filter 
            [origenes]="origenes" 
            [destinos]="destinos" 
            (showSubscribedEmitter)="updateShowSubscribed($event)"
            (origenSeleccionadoEmitter)="updateOrigenSeleccionado($event)"
            (destinoSeleccionadoEmitter)="updateDestinoSeleccionado($event)"
            [origenSeleccionado]="origenSeleccionado"
            [destinoSeleccionado]="destinoSeleccionado"
            ></evince-general-filter>
            <evince-general-list 
            [iRecorridos]="iRecorridos" 
            (onClick)="updateSubscription($event)"
            (iCurrentListViewEmitter)="updateiCurrentListView('recorrido-list')"
            (recorridoParaAnalizarEmitter)="updateRecorridoAAnalizar($event)">
            </evince-general-list>
        </div>
        <div *ngSwitchCase="'general-list'">
            <evince-general-filter 
            [origenes]="origenes" 
            [destinos]="destinos" 
            (showSubscribedEmitter)="updateShowSubscribed($event)"
            (origenSeleccionadoEmitter)="updateOrigenSeleccionado($event)"
            (destinoSeleccionadoEmitter)="updateDestinoSeleccionado($event)"
            [origenSeleccionado]="origenSeleccionado"
            [destinoSeleccionado]="destinoSeleccionado"
            ></evince-general-filter>
            <evince-general-list 
            [iRecorridos]="iRecorridos" 
            (onClick)="updateSubscription($event)"
            (iCurrentListViewEmitter)="updateiCurrentListView('recorrido-list')"
            (recorridoParaAnalizarEmitter)="updateRecorridoAAnalizar($event)">
            </evince-general-list>
        </div>
        <div *ngSwitchCase="'recorrido-list'">
            <button mat-button (click)="updateiCurrentListView('general-list')" title="general-list">
                VOLVER
              </button>
            <evince-recorrido-list [recorridoAAnalizar]="recorridoAAnalizar">
            </evince-recorrido-list>
        </div>
        <div *ngSwitchCase="'viaje-list'">

        </div>
    </div>
</div>