<section>
  <ng-container *ngIf="iViajeActual | async as viaje">
    <div [ngSwitch]="viaje.estado">
      <evince-next-travel-card
        *ngSwitchCase="0"
        [iViajeActual]="viaje"
        (onStartTravelTriggered)="start($event)"
      ></evince-next-travel-card>
      <evince-current-travel-card
        *ngSwitchCase="1"
        [iViajeActual]="viaje"
        (onShowCurrentRoadMap)="showCurrentRoadmap($event)"
      ></evince-current-travel-card>
      <div *ngSwitchDefault>
        <mat-card class="mat-typography" matRipple>
          <mat-card-content>
            Por ahora no hay próximos viajes programados
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</section>
<evince-weather-card></evince-weather-card>
<ng-container *ngIf="iViajesFinalizados | async as finalizados">
  <section *ngIf="finalizados.length > 0" class="divider">
    <div class="line"><mat-divider></mat-divider></div>
    <div class="text mat-typography">Viajes finalizados</div>
    <div class="line"><mat-divider></mat-divider></div>
  </section>
  <section class="bottom">
    <cdk-virtual-scroll-viewport itemSize="10">
      <mat-card
        *ngFor="let viaje of finalizados"
        class="finnished mat-typography mat-elevation-z2"
        fxLayout="column"
        matRipple
        (click)="showSummary(viaje.id)"
      >
        <section fxFlex>
          <span>
            {{ viaje.trayecto.terminalOrigenCodigo }} -{{
              viaje.trayecto.terminalDestinoCodigo
            }}
          </span>
          <span fxFlex="auto"></span>
        </section>
        <!-- <button class="action" mat-icon-button ">
        </button> -->
        <mat-icon class="action">keyboard_arrow_right</mat-icon>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </section>
</ng-container>
