<section class="top">
  <ng-container *ngIf="iViajeActual | async as viaje">
    <div [ngSwitch]="viaje.estado">
      <evince-next-travel-card
        *ngSwitchCase="0"
        [iViajeActual]="viaje"
        (onStartTravelTriggered)="start($event)"
      ></evince-next-travel-card>
      <evince-current-travel-card
        *ngSwitchCase="1"
        [iViajeActual]="viaje"
        (onShowCurrentRoadMap)="showCurrentRoadmap($event)"
      ></evince-current-travel-card>
      <div *ngSwitchDefault>
        <mat-card class="mat-typography" matRipple>
          <mat-card-content>
            Por ahora no hay próximos viajes programados
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</section>
<ng-container *ngIf="iViajesFinalizados | async as finalizados">
  <section *ngIf="finalizados.length > 0" class="divider">
    <mat-divider></mat-divider>
    <h5>Viajes finalizados</h5>
    <mat-divider></mat-divider>
  </section>
  <section class="bottom">
    <cdk-virtual-scroll-viewport itemSize="10">
      <mat-card
        *ngFor="let viaje of finalizados"
        class="finnished mat-typography mat-elevation-z4"
        fxLayout="column"
        matRipple
      >
        <section fxFlex>
          <span> {{ viaje.id }} </span>
          <span>
            {{ viaje.trayecto.terminalOrigenCodigo }} -{{
              viaje.trayecto.terminalDestinoCodigo
            }}
          </span>
          <span fxFlex="auto"></span>
        </section>
        <button class="action" mat-icon-button (click)="showSummary(viaje.id)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </section>
</ng-container>
