<mat-toolbar class="navigation">
  <button mat-button (click)="return()">
    <mat-icon>keyboard_arrow_left </mat-icon>
    Volver
  </button>
  <span class="mat-body title" *ngIf="!!iOrigen && !!iDestino"
    >Retrasos ocurridos entre <b>{{ iOrigen }}</b> y <b>{{ iDestino }}</b></span
  >
</mat-toolbar>
<section class="view" *ngIf="!!iRetrasos">
  <section class="columns is-1 is-desktop">
    <section class="list column is-half">
      <mat-card>
        <mat-card-content>
          <evince-delays-list [iRetrasos]="iRetrasos"></evince-delays-list>
        </mat-card-content>
      </mat-card>
    </section>
  </section>
</section>
