<div class="main">
    <div fxLayout fxLayoutAlign="center center">
      <div fxFlex="50" fxLayout.xs="column wrap" fxLayoutGap="1rem" fxLayoutAlign="space-between center" >
        <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Frecuencia</mat-label>
          <mat-select [(ngModel)]='frecuenciaSeleccionada' name="frecuenciaSeleccionada" formControlName="frecuenciaControl"
          (selectionChange)="ngOnChanges(frecuenciaSeleccionada)">
            <mat-option *ngFor="let frecuenciaSeleccionada of frecuencias" [(value)]="frecuenciaSeleccionada">
              {{frecuenciaSeleccionada}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </div>
    </div>
    </div><div #chart class="chart"></div>