<div class="main">
<div fxLayout fxLayoutAlign="center center">
  <div fxFlex="50" fxLayout.xs="column wrap" fxLayoutGap="1rem" fxLayoutAlign="space-between center" >
    <form [formGroup]="form">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [(ngModel)]='origenSeleccionado' name="origenSeleccionado" formControlName="origenControl"
      (selectionChange)="changeOrigen(origenSeleccionado)">
        <mat-option *ngFor="let origenSeleccionado of origenesDesc" [(value)]="origenSeleccionado">
          {{origenSeleccionado}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [(ngModel)]='destinoSeleccionado' name="destinoSeleccionado" formControlName="destinoControl"
      (selectionChange)="changeDestino(destinoSeleccionado)">
        <mat-option *ngFor="let destinoSeleccionado of destinosDesc" [(value)]="destinoSeleccionado">
          {{destinoSeleccionado}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <mat-slide-toggle color="primary" [checked]="true" (change)="showSubscribedChange()">My subscriptions</mat-slide-toggle>
    <!-- <mat-slide-toggle color="primary" [(ngModel)]="isChecked" (change)="onChange(isChecked)">My subscriptions</mat-slide-toggle> -->
  </div>
</div>
</div>