<table mat-table [dataSource]="iRecorridos">
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef >Código</th>
    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
  </ng-container>

  <ng-container matColumnDef="origen">
    <th mat-header-cell *matHeaderCellDef>Origen</th>
    <td mat-cell *matCellDef="let element">{{ element.origen }}</td>
  </ng-container>

  <ng-container matColumnDef="destino">
    <th mat-header-cell *matHeaderCellDef>Destino</th>
    <td mat-cell *matCellDef="let element">{{ element.destino }}</td>
  </ng-container>

  <ng-container matColumnDef="subscription">
    <th mat-header-cell *matHeaderCellDef>Suscripción</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        color="primary"
        [checked]="element.subscription"
        (change)="changeSubscription(element.id, !element.subscription)"
      >
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="analyze">
    <th mat-header-cell *matHeaderCellDef>Analizar</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="analyze(element.id)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="iDisplayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: iDisplayedColumns"></tr>
</table>
