<div [(ngModel)]='tipo' name="tipo" ngDefaultControl></div>
<div [(ngModel)]='descripcion' name="descripcion" ngDefaultControl></div>
<div [(ngModel)]='tiempo' name="tiempo" ngDefaultControl></div>
<div class="container">
    <mat-card>
      <div *ngIf="dataService.viajeActual.tiempoDemora!=null ; then avisoRetrasoPorDemora ; else retrasoVoluntario"></div>
      <ng-template #avisoRetrasoPorDemora>
        El tiempo real del viaje es mayor al estipulado por {{dataService.tiempoDemoraViajeActualEnHMS}}, debe informar un retraso
      </ng-template>
      <ng-template #retrasoVoluntario>
        Informar retraso para el viaje {{ dataService.viajeActual.id }}
      </ng-template>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Tipo"
                formControlName="tipo"
              />
            </mat-form-field>
          </p>
  
          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Descripcion"
                formControlName="descripcion"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input
                type="text"
                matInput
                placeholder="Tiempo"
                formControlName="tiempo"
              />
            </mat-form-field>
          </p>
  
          <div class="button-group">
            <button type="button" mat-flat-button (click)="cancelar()" >Cancelar</button>
            <button type="submit" mat-raised-button color="primary">Guardar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>