.evince-ui {
  evince-login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    margin: 0 2rem;

    .title {
      text-align: center;
      margin: 0 1rem;
      line-height: 1.2;
      > * {
        color: white;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      section {
        &:last-child {
          padding: 1.5rem 0;
        }
        > * {
          width: 100%;
        }
      }

      .mat-flat-button {
        background-color: white;
        color: black;
      }
    }
  }
}
