.evince-ui {
  evince-login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .login {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }

    .action-wrapper {
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
  }
}
