.evince-ui {
  evince-login {
    display: grid;
    grid-template-columns: 1fr auto;

    height: 100%;
    padding: 0 2rem;
    overflow-y: auto;
    overflow-x: hidden;

    .icon {
      width: auto;
      height: auto;
      transform: scale(0.5);
      filter: grayscale(1);
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      height: 100%;

      .icon {
        width: 10rem;
        height: auto;
        align-self: center;
      }

      .title {
        text-align: center;
        margin: auto;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        section {
          &:last-child {
            padding: 1.5rem 0;
          }
          > * {
            width: 100%;
          }
        }
      }
    }
  }
}
