<mat-card>
<!--     <div *ngIf="((dataService.viajeActual==null) && (dataService.tiempoUltimoViaje!=null)) ; then dataUltimoViaje"></div>
    <ng-template #dataUltimoViaje>
        Tiempo último viaje: {{dataService.tiempoUltimoViaje}}
    </ng-template> -->
    <div *ngIf="dataService.viajeActual!=null; then dataViajeActual"></div>
    <ng-template #dataViajeActual>
        Viaje actual: {{dataService.viajeActual.id}}
        <br>
        Cantidad de pasajeros: {{dataService.viajeActual.cantPasajeros}}
        <br>
        Horario estipulado de salida: {{dataService.viajeActual.fechaHoraSalidaEstipuladas}}
        <br>
        Horario estipulado de llegada: {{dataService.viajeActual.fechaHoraLlegadaEstipuladas}}
        <br>
        Tiempo de viaje actual: {{dataService.tiempoCrono}}
    </ng-template>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let recorrido of iDataSource">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Recorrido: {{recorrido.id}}
                </mat-panel-title>
                <mat-panel-description>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let viaje of recorrido.viajes">
                    {{viaje.id}}
                    <ng-container *ngIf="viaje.actual; then actualBlock; else siguienteBlock"></ng-container>
                    <ng-template #actualBlock>
                        <button mat-raised-button color="warn" (click)="comprobarDemora(viaje)">
                        Detener
                        </button>
                        <button mat-raised-button (click)="nuevoRetraso(dataService.viajeActual.id)">
                        Registrar retraso
                        </button>
                    </ng-template>
                    <ng-container #siguienteBlock *ngIf="viaje.siguiente && dataService.viajeActual==null; then existeActualBlock; else deshabBlock"></ng-container>
                    <ng-template #existeActualBlock>
                        <button mat-raised-button color="primary" (click)="comenzarViaje(viaje)">
                        Comenzar
                        </button>
                    </ng-template>
                    <ng-container #deshabBlock *ngIf="((!viaje.actual && !viaje.siguiente) || 
                    (viaje.siguiente && dataService.viajeActual!=null)) && viaje.fechaHoraRealLlegada==null; 
                    then deshabBlock2; else viajeTerminadoBlock"></ng-container>
                    <ng-template #deshabBlock2>
                        <button mat-raised-button disabled color="primary">
                        Comenzar
                        </button>
                    </ng-template>
                    <ng-container #viajeTerminadoBlock *ngIf="viaje.fechaHoraRealLlegada!=null; then viajeTerminadoBlock2"></ng-container>
                    <ng-template #viajeTerminadoBlock2>
                        <button mat-fab color="accent" (click)="mostrarReporte(viaje)">
                        Reporte
                        </button>
                    </ng-template>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>