<div [(ngModel)]='viajeActual' name="viajeActual" ngDefaultControl></div>
<div [(ngModel)]='tiempo' name="tiempo" ngDefaultControl></div>
<div [(ngModel)]='tiempoCrono' name="tiempoCrono" ngDefaultControl></div>
<mat-card>
    <div *ngIf="((viajeActual.id==null) && (tiempoUltimoViaje!=null)) ; then dataUltimoViaje"></div>
    <ng-template #dataUltimoViaje>
        Tiempo último viaje: {{tiempoUltimoViaje}}
    </ng-template>
    <div *ngIf="viajeActual.id!=null; then dataViajeActual"></div>
    <ng-template #dataViajeActual>
        Viaje actual: {{viajeActual.id}}
        <br>
        Cantidad de pasajeros: {{viajeActual.cantPasajeros}}
        <br>
        Horario estipulado de salida: {{viajeActual.horaEstipuladaSalida}}
        <br>
        Horario estipulado de llegada: {{viajeActual.horaEstipuladaLlegada}}
        <br>
        Tiempo de viaje actual: {{tiempoCrono}}
    </ng-template>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let recorrido of iDataSource">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Recorrido: {{recorrido.id}}
                </mat-panel-title>
                <mat-panel-description>
            </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li *ngFor="let viaje of recorrido.viajes">
                    {{viaje.id}}
                    <ng-container *ngIf="viaje.actual; then actualBlock; else siguienteBlock"></ng-container>
                    <ng-template #actualBlock>
                        <button mat-raised-button color="warn" (click)="comprobarDemora(viaje)">
<!--                         <button mat-raised-button color="warn" (click)="detenerViajeActual()">
 -->                        Detener
                        </button>
                        <button mat-raised-button (click)="nuevoRetraso(viajeActual.id)">
                        Registrar retraso
                        </button>
                    </ng-template>
                    <ng-container #siguienteBlock *ngIf="viaje.siguiente && viajeActual.id==null; then existeActualBlock; else deshabBlock"></ng-container>
                    <ng-template #existeActualBlock>
                        <button mat-raised-button color="primary" (click)="comenzarViaje(viaje)">
                        Comenzar
                        </button>
                    </ng-template>
                    <ng-container #deshabBlock *ngIf="((!viaje.actual && !viaje.siguiente) || (viaje.siguiente && viajeActual.id!=null)) && viaje.horaRealLlegada==''; then deshabBlock2; else viajeTerminadoBlock"></ng-container>
                    <ng-template #deshabBlock2>
                        <button mat-raised-button disabled color="primary">
                        Comenzar
                        </button>
                    </ng-template>
                    <ng-container #viajeTerminadoBlock *ngIf="viaje.horaRealLlegada!=''; then viajeTerminadoBlock2"></ng-container>
                    <ng-template #viajeTerminadoBlock2>
                        <button mat-fab color="accent" (click)="mostrarReporte(viaje)">
                        Reporte
                        </button>
                    </ng-template>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>