.evince-ui {
  evince-administrator {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  evince-general-view {
    flex: 1;
    display: grid;
    grid-template-areas:
      "filters"
      "view";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    .filters {
      grid-area: filters;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      .title {
        margin: 0;
      }
    }

    .view {
      grid-area: view;
    }

    evince-general-list {
      .mat-column-code,
      .mat-column-last,
      .mat-column-state {
        max-width: 3rem;
      }

      .mat-column-origen,
      .mat-column-destino {
        max-width: 6rem;
      }
    }

    evince-general-filter {
      flex: 1;
      form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  evince-routes-view,
  evince-travels-view,
  evince-delays-view {
    flex: 1;
    display: grid;
    grid-template-areas:
      "navigation"
      "view";
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 1fr;

    .navigation {
      grid-area: navigation;
      display: flex;
      align-items: stretch;
      height: auto;
      padding: 0 1rem;

      .title {
        margin: auto;
      }
    }

    .view {
      grid-area: view;
    }
  }

  evince-general-view,
  evince-routes-view,
  evince-travels-view,
  evince-delays-view {
    .mat-card {
      margin: 0.5rem 1rem;
      .chart {
        display: flex;
        .echart {
          flex: 1;
          min-height: 25vh;
        }
      }
    }
    .charts {
      .mat-card:first-child {
        margin-bottom: 2rem;
      }
    }

    .list {
      .mat-card {
        padding: 0.5rem;
        height: 70vh;
        .mat-card-content {
          height: 100%;
        }
      }
    }
  }

  evince-general-list,
  evince-routes-list,
  evince-travels-list,
  evince-delays-list {
    flex: 1;
    display: flex;
    height: 100%;
    max-height: 70vh;
    padding: 0 0.5rem;
    overflow: hidden;
    overflow-y: auto;
    table {
      width: 100%;
    }
  }

  evince-travels-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .chart {
      flex: 1;
      display: flex;
      form,
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
