.evince-ui {
  evince-travel-list {
    .mat-card-header {
      .mat-card-header-text {
        margin: 0;
        .mat-card-subtitle,
        .mat-card-title {
          margin: 0;
        }
      }

      button .mat-icon {
        margin-left: 0.5rem;
      }
    }

    .mat-card-content {
      margin: 0;
      section {
        margin-bottom: 1rem;

        &.progress {
          margin: 1rem;
        }
      }
      .mat-progress-bar {
        margin: 0 0.5rem;
      }
    }
  }
}
