.evince-ui {
  evince-driver {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;

    .mat-tab-nav-bar {
      a.boxed {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
      }
    }
  }

  evince-travel-list,
  evince-current-route,
  evince-route-list,
  evince-finished-travel-summary,
  evince-route-list {
    width: 100vw;
  }

  evince-travel-list {
    height: 100%;
    display: grid;
    grid-template-rows: 0.25fr 0.15fr 15px 1fr;
    grid-template-columns: 1fr;

    .mat-card {
      margin: 1rem;

      .mat-card-header {
        .mat-card-header-text {
          margin: 0;
          .mat-card-subtitle,
          .mat-card-title {
            margin: 0;
          }
        }
      }

      &.current,
      &.next {
        .mat-card-content {
          margin: 0;
          section {
            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            &.progress {
              margin: 1rem;
            }
          }

          .mat-progress-bar {
            margin: 0 0.5rem;
          }
        }
      }

      .action {
        top: 50%;
        right: 0;
        position: absolute;
        transform: translate(0%, -50%);
      }
    }

    section {
      display: flex;
      flex-direction: column;

      &.divider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .line {
          flex: 1;
          margin: 0 1rem;
        }

        .text {
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.54);
        }
      }

      &.bottom {
        .cdk-virtual-scroll-viewport {
          flex: 1;
          overflow-x: hidden;
        }

        .cdk-virtual-scroll-content-wrapper {
          max-width: 100%;
        }

        .finnished {
          opacity: 0.8;
        }
      }
    }
  }

  evince-current-route,
  evince-route-list {
    display: flex;
    .cdk-virtual-scroll-viewport {
      flex: 1;
      overflow-x: hidden;
    }

    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }

  evince-finished-travel-summary,
  evince-route-list {
    .mat-card {
      margin: 1rem;

      .mat-card-header {
        .mat-card-header-text {
          margin: 0;
          .mat-card-subtitle,
          .mat-card-title {
            margin: 0;
          }

          .mat-card-title {
            display: flex;
          }
        }
      }
    }
  }

  evince-route-list {
    .mat-card-title {
      display: flex;
      font-size: initial;
      text-align: justify;
      word-break: break-word;
    }
  }

  evince-finished-travel-summary {
    .detail {
      padding: 1rem;
      section {
        &:not(:first-child) {
          padding-top: 0.5rem;
        }
        p:not(:first-child) {
          padding-left: 1rem;
        }
      }
    }
  }

  evince-weather-card {
    .mat-card {
      &.day {
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      }
      &.night {
        background-image: linear-gradient(
          to bottom,
          #505285 0%,
          #585e92 12%,
          #65689f 25%,
          #7474b0 37%,
          #7e7ebb 50%,
          #8389c7 62%,
          #9795d4 75%,
          #a2a1dc 87%,
          #b5aee4 100%
        );
      }
    }

    .mat-chip-list-wrapper {
      display: flex;
      flex-direction: column;

      .mat-chip {
        background: transparent;
        border: 1px solid;
      }
    }
  }
}

evince-delay {
  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .time {
      text-align: center;
    }
  }
}
