%flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%glass {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: flow 5s ease-in-out infinite;
}

.evince-ui {
  flex: 1;
  @extend %flex-row;
  @extend %glass;
  margin: 1rem;
}

@-webkit-keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
