@import './abstracts';
@import './variables';
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: flow 5s ease-in-out infinite;
}

.evince-ui {
  flex: 1;
  @extend %flex-row;
  @extend %glass;
  margin: 1rem;

  h1.title {
    color: $light-primary-text;
  }
}

@-webkit-keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
