.evince-ui {
  evince-signup,
  evince-signin {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;
      margin: auto;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      section {
        &:last-child {
          padding: 1.5rem 0;
        }
        > * {
          width: 100%;
        }
      }
    }
  }
}
