@import "../../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../../node_modules/bulma/sass/grid/_all.sass";
@import "./signin";
@import "./header";
@import "./driver";
@import "./administrator";
@import "./snackbar";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.evince-ui {
  height: 100%;
  .brand,
  .title {
    letter-spacing: 0.5rem;
    opacity: 0.5;
  }
}
