<!-- <h1>settings works!</h1>
<h2>AUTHORS</h2>
<div *ngFor="let author of authors | async">
  <h2>{{author.name}}</h2>
  <p>{{author.age}}</p>
</div> -->

<div class="example-container">
  <mat-form-field>
    <input matInput name="username" #username="ngModel" placeholder="Nombre" [(ngModel)]="user.nombre">
    <!-- <input matInput value="{{user.nombre}}" placeholder="Nombre"> -->
  </mat-form-field>
  <mat-form-field>
    <input matInput name="email" #email="ngModel" placeholder="Email" [(ngModel)]="user.email">
    <!-- <input matInput value="{{user.email}}" placeholder="Email"> -->
</div>