<table mat-table [dataSource]="iDataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
  </ng-container>

  <ng-container matColumnDef="subscription">
    <th mat-header-cell *matHeaderCellDef>Subscription</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle color="primary" [checked]="element.subscription">
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="analyze">
    <th mat-header-cell *matHeaderCellDef>Analyze</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="analyze(element)">
        Analyze
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="iDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: iDisplayedColumns"></tr>
</table>
