<ng-container *ngIf="iInformacionClimatica | async as clima">
  <mat-card
    class="mat-typography"
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    [ngClass]="{ day: clima.dia, night: !clima.dia }"
  >
    <mat-card-header>
      <mat-card-title fxLayout="column">
        <section fxFlex>
          <span>{{ clima.clima }}</span>
          <small>🌡{{ clima.temperatura }}</small>
        </section>
      </mat-card-title>
      <mat-card-subtitle>{{ clima.ciudad }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section fxLayout="column">
        <article fxLayout="row">
          <span>💧</span>
          <span fxFlex="auto"> {{ clima.humedad }} </span>
        </article>
        <article fxLayout="row">
          <span>💨</span>
          <span fxFlex="auto"> {{ clima.viento }}</span>
        </article>
      </section>
    </mat-card-content>
  </mat-card>
</ng-container>
