<div class="container">
    <mat-card>
      <mat-card-title>Retrasos del viaje {{dataService.viajeReporte.id}}</mat-card-title>
      <mat-card-content>
        Cantidad de pasajeros: {{dataService.viajeReporte.cantPasajeros}}
        <br>
        Horario estipulado de salida: {{dataService.viajeReporte.fechaHoraSalidaEstipuladas}}
        <br>
        Horario estipulado de llegada: {{dataService.viajeReporte.fechaHoraLlegadaEstipuladas}}
        <br>
        Horario real de salida: {{dataService.viajeReporte.fechaHoraRealSalida}}
        <br>
        Horario real de llegada: {{dataService.viajeReporte.fechaHoraRealLlegada}}
        <br><br>
        <b>Retrasos registrados:</b>
        <div *ngIf="dataService.viajeReporte.retrasos.length>0 ; then reporteConRetrasos ; else reporteSinRetrasos"></div>
        <ng-template #reporteConRetrasos>
          <ul *ngFor="let retraso of dataService.viajeReporte.retrasos">
            <li>
              {{retraso.tipo}}
            </li>
            <li>
              {{retraso.descripcion}}
            </li>
            <li>
              {{retraso.tiempo}}
            </li>
            <hr>
          </ul>
        </ng-template>
        <ng-template #reporteSinRetrasos>
          No hay retrasos registrados para este viaje
        </ng-template>
          <div class="button-group">
            <button type="button" mat-flat-button (click)="volver()">Volver</button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>