.chart {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
  margin:0px;
  float: left;
}

a:link, a:visited {
	color: #4682b4;
}

a:hover {
	color: #4169e1;
}

#main	{
	width: 1000px;
	height: 800px;
	border: 1px solid #ccc;
	padding: 10px;
}